
@{
    ViewBag.Title = "Index";
}

<form action="" method="post" enctype="multipart/form-data">
    <div style="margin: 100px 0px 150px 200px;">
        <input type="file" name="files" class="multi" />
        <input type="submit" style="margin: 20px 0px 0px 0px;" />
    </div>

</form>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jQuery.MultiFile.min.js"></script>